.book-animation {
  .small-text {
    font-size: 10px;
    white-space: nowrap;

  }

  width: 100%;
  min-height: 20rem;
  margin-top: 4rem;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  & .book {
    position: relative;
  }

  & .book > img {
    width: 9rem;
  }

  & .book .markers {
    position: absolute;
    top: 0;
    right: -3rem;
    z-index: -1;

    & img {
      width: 3rem;
    }

    & img[src*="bookmark-yellow"] {
      transform: rotate(15deg);
      z-index: 2;
    }

    & img[src*="bookmark-purple"] {
      transform: rotate(30deg) translateX(5rem) translateY(-1rem);
    }

    & .arrow-marker {
      position: absolute;
      right: -3rem;
      bottom: -5rem;

      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: center;
    }
  }

  & .book .brooches {
    position: absolute;
    z-index: -1;

    left: -2rem;
    top: 10rem;

    & img {
      width: 4rem;
      transform: rotate(-15deg);
    }

    & .arrow-brooches {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      gap: 5px;

      position: absolute;
      right: 3rem;
      bottom: 3rem;

      & img {
        width: 3rem;
      }
    }
  }

  & .book-cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
  
    position: absolute;
    top: -2rem;
    left: -4rem;

    & span {
      margin-right: 2rem;
    }
  }
}
