header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.25rem 1.25rem 3rem 1.25rem;
}

@media (width >= 80rem) {
  header {
    padding: 3.5rem 10rem 10.25rem 10rem;
  }
}