section.prices {
  margin-bottom: 6rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  & > h3 {
    font: var(--font-title-sm);
    color: var(--text-title);
  }

  & .cards {
    min-height: 30px;
    width: 100%;

    display: flex;
    justify-content: center;
    gap: 2rem;

    margin-top: 8rem;
  }

  & .cards .card {
    background-color: var(--shape-base);
    padding: 2rem 2rem 1.75rem 2rem;
    height: 25rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 1px solid var(--shape-stroke);
    border-radius: 1.5rem;

    & .pricing > span:first-of-type {
      font-size: 1rem;
      font-weight: 700;
      color: var(--blue-light);
    }

    & .pricing .price {
      color: var(--text-title);
      font: var(--font-title-md);

      display: flex;
      align-items: flex-end;

      margin-top: 1.5rem;

      & > span {
        font-size: 1rem;
      }
    }

    & .pricing > span:last-child {
      font: var(--font-body-sm);
      color: var(--text-label);
      font-weight: 400;

      margin-top: 8px;
    }

    & .advantages {
      display: flex;
      flex-direction: column;

      & ul {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

      & ul li {
        display: flex;
        align-items: center;
        gap: 8px;

        color: var(--text-body);
        font-size: 0.75rem;
        font-weight: 400;

        & img {
          width: 0.875rem;
        }
      }

      & button {
        padding: 0.75rem;
        margin-top: 1.5rem;

        border: none;
        border-radius: 8px;

        background-color: var(--blue-dark);
        color: var(--text-title);
        font-size: 0.875rem;
      }
    }
  }

  & .cards .card:nth-child(2) {
    background-color: var(--shape-base);

    & .pricing .popular {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    & .pricing .popular span:first-of-type {
      color: var(--pink-light);
    }

    & .pricing .popular span:last-of-type {
      color: var(--text-body);
      font: var(--tag-text);

      padding: 9px 1.25rem;
      background-color: var(--shape-stroke);
      border-radius: 3rem;
    }

    & .advantages button {
      background-color: var(--pink-dark);
    }
  }
}

@media (width <= 48em) {
  section.prices {
    & .cards {
      overflow-x: auto;
      justify-content: flex-start;
      padding-inline: 3rem;
      scroll-snap-type: x mandatory; /* Rolagem suave */
      scrollbar-width: none; /* Esconde a barra de rolagem */

      /* Esconde em navegadores webkit */
      &::-webkit-scrollbar {
        display: none;
      }

      & .card {
        flex: 0 0 auto;
        scroll-snap-align: center;
      }
    }
  }
}

@media (width >= 80em) {
  section.prices {
    & .cards {
      position: relative;
    }

    & .cards .card:nth-child(1) {
      transform: rotate(0deg) translateX(19rem);
      animation: promoOne 1s linear both;
      animation-timeline: view();
      animation-range-start: 10px;
      animation-range-end: 50%;
      opacity: 0;
    }

    & .cards .card:nth-child(2) {
      position: absolute;
    }

    & .cards .card:nth-child(3) {
      transform: rotate(0deg) translateX(-19rem);
      animation: promoThree 1s linear both;
      animation-timeline: view();
      animation-range-start: 10px;
      animation-range-end: 50%;
      z-index: -1;
      opacity: 0;
    }
  }
}

@keyframes promoOne {
  100% {
    transform: rotate(-10deg) translateY(1rem) translateX(-12rem);
    opacity: 1;
  }
}

@keyframes promoThree {
  100% {
    transform: rotate(10deg) translateY(1rem) translateX(12rem);
    opacity: 1;
  }
}
